# Preparing the data for the interactive exercises

In [3]:
import pandas as pd

In [6]:
pokemon = pd.read_csv("data/pokemon_no_duplicates.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False

In [7]:
(pokemon
 .groupby(["Generation", "Type 1"])
 .agg({"HP": "mean"})
 .reset_index()
 .pivot(index="Generation", columns="Type 1")
 .droplevel(0, axis="columns")
 .reset_index()
 .to_csv("data/mean_hp_per_generation_and_type.csv", index=False)
)

In [67]:
pokemon_single_type = (pokemon
    .assign(Type=lambda df: df["Type 1"] + " - " + df["Type 2"])
    .drop(columns="Type 2")
)
pokemon_single_type.loc[pd.isna(pokemon_single_type["Type"]), "Type"] = pokemon_single_type["Type 1"]
pokemon_single_type = pokemon_single_type.drop(columns="Type 1")
pokemon_single_type.to_csv("data/pokemon_merged_type.csv", index=False)
pokemon_single_type.head()

,#,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type
0,1,Bulbasaur,318,45,49,49,65,65,45,1,False,Grass - Poison
1,2,Ivysaur,405,60,62,63,80,80,60,1,False,Grass - Poison
2,3,Venusaur,525,80,82,83,100,100,80,1,False,Grass - Poison
3,4,Charmander,309,39,52,43,60,50,65,1,False,Fire
4,5,Charmeleon,405,58,64,58,80,65,80,1,False,Fire

In [8]:
(pokemon
 .groupby("Type 1")
 .agg({"Attack": ["min", "mean", "max"]})
 .stack()
 .reset_index()
 .rename(columns={"Type 1": "Type", "level_1": "statistic"})
 .to_csv("data/pokemon_attack_statistics.csv", index=False)
)